{% if affichage == "affichage 2" %}
<h2>{{ pays }}</h2>
{% endif %}
<table>
    <thead>
    <tr>
        {% for col in cols %}
        {% if affichage == "affichage 1" %}
        <th>{{ col[1] }}</th>
        {% elif affichage == "affichage 2" %}
        <th>{{ col }}</th>
        {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for country in query_result %}
        <tr>
            {% for cell in country %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    {% if affichage == "affichage 2" %}
    <tfoot>
        <th colspan="{{ cols|length - 1 }}">SOMME</th>
        <th data-somme = "{{ somme }}" >{{ somme }} gCO2/kWh</th>
    </tfoot>
    {% endif %}
</tbody>
</table>

{% if affichage == "affichage 2" %}
<label for="inputNumber">Choisissez une puissance (en kwh) pour savoir combien de CO2 est rejeté pour la maintenir en continue durant une année:</label>
<input type="number" id="inputNumber" placeholder="Entrez un nombre" required>

<button onclick="calculate()">Calculer le CO2 émis</button>

<div id="result"></div>
{% endif %}