{% if affichage == "affichage 2" %}
<h2>{{ pays }}</h2>
{% endif %}
<table>
    <thead>
    <tr>
        {% for col in cols %}
        {% if affichage == "affichage 1" %}
        <th>{{ col[1] }}</th>
        {% elif affichage == "affichage 2" %}
        <th>{{ col }}</th>
        {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for country in query_result %}
        <tr>
            {% for cell in country %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>