<html>

<head>
  <title>SQLite Flask App</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  
  <h1>Database</h1>

  <select id="countrySelector" onchange="updateContent(this.value)">
    {% for country in countries %}
    <option value="{{ country[0] }}">{{ country[0] }}</option>
    {% endfor %}
  </select>


  <div id="content">
    {% include 'content_partial.html' %}
  </div>

  <script>
    function updateContent(selectedCountry) {
        // Utilisation de fetch pour effectuer une requête AJAX
        fetch(`/update_content/${selectedCountry}`)
          .then(response => response.text())
          .then(data => {
              document.getElementById("content").innerHTML = data;
          });
    }
  </script>

</body>

</html>