<html>

<head>
  <title>SQLite Flask App</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  
  <h1>Émission CO2</h1>

  <select id="countrySelector" onchange="updateContent(this.value)">
    {% for country in countries %}
    <option value="{{ country[0] }}">{{ country[0] }}</option>
    {% endfor %}
  </select>


  <div id="content">
    {% include 'content_partial.html' %}
  </div>

  <script>
    function updateContent(selectedCountry) {
        // Utilisation de fetch pour effectuer une requête AJAX
        fetch(`/update_content/${selectedCountry}`)
          .then(response => response.text())
          .then(data => {
              document.getElementById("content").innerHTML = data;
          });
    }
  </script>

<script>
  function calculate() {
      // Récupérer la valeur de l'input
      var inputNumber = document.getElementById('inputNumber').value;

      // Vérifier si la valeur est un nombre
      if (isNaN(inputNumber)) {
          alert('Veuillez entrer un nombre valide.');
          return;
      }

      // Effectuer le calcul
      var sommeValue = document.querySelector('th[data-somme]').getAttribute('data-somme');

      var result = inputNumber * 24 * 365 * sommeValue/1000;
      var arbre = result / 25;

      // Arrondir arbres à 2 chiffres après la virgule
      arbre = arbre.toFixed(2);

      // Afficher le résultat
      document.getElementById('result').innerHTML = 'Le CO2 émis pour ' + inputNumber + ' kWh est ' + result + ' kgCO2.<br> Il faut ' + arbre + ' arbres pour compenser ces émissions';
  }
</script>

</body>

</html>